header {
    text-align: center;
}

footer {
    text-align: center; 
}

body {
    background-image: linear-gradient(rgb(134, 134, 252), rgb(224, 81, 81));
}

.main-name {
    font-size: 60px;
}

.iframe {
    width: 30%;
    height: 100%;
}